{% set nginx = salt['grains.filter_by'] ({
    'Debian' : {
            'home' :'/var/www',
            'conf_dir': '/etc/nginx',
            'sbin_dir': '/usr/sbin',
        },
    'RedHat': {
            'package': 'nginx',
            'default_user': 'nginx',
            'default_group': 'nginx',
            'conf_dir':'/etc/nginx/conf.d/'
            'sbin_dir': '/usr/sbin'
        },
}, merge = salt['pillar.get']('nginx:lookup'), default='RedHat') %}


{# {% set hostname = salt['grains.get']('* ','network.get_hostname','grains') %} #}

