{% from "zabbix/map.jinja" import zabbix with context %}
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=1
Server={{ zabbix.server }}
ListenPort=10050
ServerActive={{ zabbix.serveractive }}
Hostname={{ salt['grains.get']('id') }}
Include=/etc/zabbix/zabbix_agentd.d/
